#start_image
{
	width: 100%;
	padding:25px 0px 0px 0px;
	height:280px;
}
.about-us-text
{
	width: 100%;
}
.content
{	
	width: 400px;
}
.main_wrapper
{
	background-color: rgb(244, 227, 236);
}
#secimage
{
	width: 100%;
	padding:5px 0px 0px 0px;
}

.presence_image
{
	height: 260px;
	width: 100%;
	padding:40px 0px 25px 0px;
}

.table-responsive
{
	width: 100%;
}
#pmessage{
	width: 55%;
	padding:35px 0px 0px 15px;
}
.presence_heading{
	text-align: center;
}
#orgstr{
	padding:0px 20px 0px 20px;
}
#team{
	padding:0px 20px 0px 20px;
}
 #about_body{
    width:78%;
    background-color: white;
    height:100%;
  }
   #cover1{
    position: fixed;
    margin-left: 232px;
    width:75%;
    height:75px;
    top:0px;
    background-color: rgb(244, 227, 236);
  }
  #row1{
  	padding:60px 0px 0px 0px;
  }

 #last_message{
 	padding:0px 0px 0px 20px;
 }