  body{
    background: rgb(244, 227, 236);
  }
  #index_main{
    width:78%;
    background-color: white;
    height:100%;
  }
html, body, div, span, ul, li, p, a{
    padding:0;
    margin:0;
    border:0;
  }
  a, a:hover{
    text-decoration:none;
    color:black;
  }
  .nav-links{
    text-align: right;
  }
  .nav-links li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px;
  }
  nav{
    width:100%;
    height:60px;
    color:#454340;
    text-align:center;
    border-radius:4px;
    background: rgb(70, 113, 132);
    background: linear-gradient(rgb(112, 194, 232), rgb(70, 113, 132));
    border:1px solid transparent;
    border-bottom-color:red;
  }
  nav div{
    display:inline-block;
    width:12%;
    height:60px;
    position:relative;
    box-sizing:border-box;
    overflow: hidden;
  }
  nav div:hover{
    overflow:visible;
  }
  nav div ul{
    position:absolute;
    width:100%;
    border-radius: 5px;
  }
  nav div ul:hover{
    background: #f9f9f9; /* Show a solid color for older browsers */
    background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
    background: -o-linear-gradient(#f9f9f9, #e5e5e5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5));
    box-sizing:border-box;
    border:1px solid transparent;
    border-bottom-color:red;
  }
  nav div ul li{
    list-style-type:none;
    padding:8px 12px;
    border-bottom: 1px solid;
    border-radius: 3px;
  }

  nav div ul li:nth-child(1){
    border-top-width:0;
    height:62px;
  }

  nav div ul li a:hover{
    text-decoration:none;
    color:#000099;
  }
  nav div ul li:hover{
       border-bottom:2px solid;
       border-radius: 7px;
  }

  nav div ul li a{
    color:#282828;
    text-decoration: none;
  }


  .carousel-inner > .item > img{
    width:100%;
  }

  li div.middle-aligner{
    height:38px;
    display:table-cell;
    vertical-align: middle;
  }

  ul{
    list-style-type: none;
  }
  #cover{
    position: fixed;
    margin-left: 232px;
    width:70%;
    height:75px;
    top:0px;
    background-color: rgb(244, 227, 236);
  }
  #right{
  top: 50px;
  margin-right: 20px;
  }
  #left{
  top: 50px;
  margin-left: 20px;
  }
  .carousel-control{
    width:0% !important;
  }